<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKcEVXm_tv6uAZ5FZ1tqgQ5-f88RxbxQU</string>
	<key>GCM_SENDER_ID</key>
	<string>793926793023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rhythmia.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>arrhythmia-e91bf</string>
	<key>STORAGE_BUCKET</key>
	<string>arrhythmia-e91bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793926793023:ios:fda105cfce765ff321058a</string>
</dict>
</plist>